<a href="/tasks">Task Index</a>
<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<a href="/tasks/<%= @task.id %>/edit">Edit</a>
<form action="/tasks/<%= @task.id %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>